        @font-face {
            font-family: main-font;
            src: url('../fonts/AnticDidone-Regular.ttf');
        }

        body {
            background-color: black;
        }

        /* Helpers */

        .see-background {
            background-color: blue;
        }

        .golden-text {
            color: #d5b465;
        }

        /*Navabr and Landing page */


        .navbar-custom {
            background-color: black;
            color: white;
        }

        .nav-link {
            color: white;
            /* margin-left: 30px !important; */
        }

        .nav-item {
            color: white;
        }

        .nav-item :hover {
            color: #d5b465;
            outline: 1px solid #d5b465;
        }

        .nav-image {
            background-image: url('https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Ftimes%2Fprod%2Fweb%2Fbin%2F657bc016-4b97-11eb-9dbc-44d114c9d92d.jpg?crop=5767%2C3244%2C84%2C1641&resize=1200');
            background-size: cover;
            background-attachment: fixed;
            height: 900px;
            width: 100%;
            opacity: 0.75;
        }

        .navbar-logo {
            color: #d5b465;
        }

        .navbar-logo :hover {
            color: #a78943;
        }

        .landing-page-text {
            padding-top: 60px;
            font-size: 60px;
            color: white;
        }

        .landing-page-image {
            height: 40px;
            width: 40px;

        }

        .icon-row {
            padding-top: 100px;
        }

        .icon-title {
            color: white;
            padding-top: 20px;
        }

        .icon-text {
            color: white;
            padding-top: 30px;
            font-size: 20px;
            padding-bottom: 40px;
        }

        .font-color1 {
            color: white;
        }

        .font-color2 {
            color: #dbaf1d;
        }

        .div1 {
            width: 700px;
            height: 400px;
            border: 2px solid #dbaf1d;
            box-sizing: border-box;
            margin-top: 60px;
            padding-top: 20px;
            padding-left: 5px;
            padding-right: 5px;
        }

        .text {
            font-size: 20px;
        }

        @media (max-width: 992px) {
            .landing-page-text {
                padding-top: 60px;
                font-size: 50px;
                color: white;
                font-weight: bold;
            }

            .button-menu {
                margin-right: 10px;
            }

            .div1 {
                height: 500px;
                margin-left: 10px;
            }

            .text {
                font-size: 17px;
            }

        }

        /* Menu */

        :root {
            --menu-category-row-height: 80px;
            --menu-category-row-width: 53.5%;
            --menu-category-padding-r-l: 30px;
        }

        .spacer {
            height: calc(var(--menu-category-row-height) + 30px);
        }

        .menu-category-row {
            background-color: black;
            position: absolute;
            line-height: var(--menu-category-row-height);
            height: var(--menu-category-row-height);
            width: var(--menu-category-row-width);
            padding-bottom: var(--menu-category-row-height);
            font-size: 30px;
            font-style: italic;
        }

        .menu-category-left {
            border-radius: 0px 10px 10px 0px;
            left: 15px;
            padding-right: var(--menu-category-padding-r-l);
        }

        .menu-category-right {
            border-radius: 10px 0px 0px 10px;
            right: 15px;
            padding-left: var(--menu-category-padding-r-l);
        }

        .menu-table-meals {
            background-color: rgba(209, 209, 209, 0.85);
        }

        th.menu-table-head {
            border: 0px solid;
        }

        td.menu-table-row {
            border: solid 3px;
            border-bottom: 0px;
            border-left: 0px;
            border-right: 0px;
        }

        .menu-background {
            background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)), url("../images/backgrounds/top_view_pizza.jpg");
            background-position: center top;
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
        }

        /* contact page */

        .contact-image {
            background-image: url('https://wallpaperaccess.com/full/1389214.jpg');
            background-size: cover;
            background-attachment: fixed;
            height: 700px;
            width: 100%;
            opacity: 0.75;
        }

        .contact-page-text {
            padding-top: 300px;
            font-size: 90px;
            color: white;
            font-weight: bold;
        }

        .contact-title {
            color: white;
        }

        /* reservation page */
        .reservation-image {
            background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.55)), url("../../images/backgrounds/reservation_background_2.jpg");
            background-size: cover;
            background-attachment: fixed;
            height: 700px;
            width: 100%;
        }

        .reservation-page-text {
            padding-top: 300px;
            font-size: 90px;
            color: white;
            font-weight: bold;
            opacity: 0.75;
            font-family: main-font, serif;
            font-weight: 300;
        }

        /* Restaurant page */

        .restaurant-background {
            background-image: url('https://cdn.wallpapersafari.com/34/67/sDbANQ.jpg');
            background-size: cover;
            background-attachment: fixed;
            height: 700px;
            width: 100%;
            opacity: 0.75;
        }

        .restaurant-title-backgraund {
            height: 200px;
            width: 100%;
            margin-top: 5px;
            margin-bottom: 30px;
            border-top: solid 6px #dbaf1d;

        }

        .title-restaurant {

            background-image: url(https://media1.giphy.com/media/LnEeDF1IzKdZlHruw9/giphy.gif?cid=ecf05e47vjsqha0f2l4zcuu3w44kzuo600mjiuhze3vbpori&rid=giphy.gif&ct=g);
            background-size: cover;
            color: transparent;
            -moz-background-clip: text;
            -webkit-background-clip: text;
            text-transform: uppercase;
            font-size: 110px;
            margin: 10px 0;
            height: 700px;
            letter-spacing: 1px;
            padding-top: 200px;
        }

        .our-restaurant-section {
            color: white;
            display: flex;
            justify-content: center;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .our-restaurant-section-text {
            font-size: 20px;
            text-align: justify;
        }

        hr {
            display: block;
            height: 0.3;
            border-top: 0.75px solid white;
        }

        @media (max-width: 992px) {
            .our-restaurant-section-text {
                font-size: 15px;
                display: contents;
            }

            .title-restaurant {
                font-size: 50px;
            }

            .our-restaurant-section {
                padding-left: 30px;
                padding-right: 30px;
            }
        }

        /* footer */
        .footer-logo {
            font-size: 24px;
            color: #d5b465;
            letter-spacing: 4x;
        }

        /* ===== Scrollbar CSS ===== */
        /* Firefox */
        * {
            scrollbar-width: auto;
            scrollbar-color: #d5b465 #000000;
        }

        /* Chrome, Edge, and Safari */
        ::-webkit-scrollbar {
            width: 16px;
            height: 16px;
        }

        ::-webkit-scrollbar-button {
            width: 0px;
            height: 0px;
        }

        ::-webkit-scrollbar-thumb {
            background: #d5b465;
            border: 2px solid #000000;
            border-radius: 4px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #f4ca66;
        }

        ::-webkit-scrollbar-thumb:active {
            background: #b39247;
        }

        ::-webkit-scrollbar-track {
            background: #000000;
            border: 22px none #ffffff;
            border-radius: 0px;
        }

        ::-webkit-scrollbar-track:hover {
            background: #000000;
        }

        ::-webkit-scrollbar-track:active {
            background: #000000;
        }

        ::-webkit-scrollbar-corner {
            background: transparent;
        }